.App {
  text-align: center;
  color: #00ffff;
  max-height: 50%;
  margin: 20px 10px;
}

button{
  cursor: pointer;
    text-align: center;
    width: 60%;
    font-size:18px;
    place-content: center;
    border-radius: 20px;
  background: #e0e0e0;
  box-shadow:  5px 5px 10px #c1c1c1,
               -5px -5px 10px #ffffff;
}
